body {
  font-size: 25px;font-style: normal;margin: 0;padding: 0;
}
header{
  display: flex;flex-direction: row;
  margin: 0 5px;
  text-align: center;
  padding:15px;
  background-color: steelblue;
}
header img{
  margin-top: 2px;
  margin-right: 15px;
  width: 150px;
  height: 150px;
  margin-bottom: 2px;
}
h1{
  color: white;
}
ol li{
  display: flex;flex-direction: column;
}
Li {
  display: inline;
}
h2 {
  padding-left: 700px;color: steelblue;
}
.sidebar img {
  padding-left: 1200px;
}
.navbar {
   margin: 5px;
   padding-right: 5%;
   width: 100%;padding: 0.01%;
   background: grey;
}
.navbar ul{
  display: flex;flex-direction: row;justify-content: space-between;
  color: white;
  text-align: center;
  padding:0 15px;
  font-size: 22px;
  text-decoration: none;
}
.navbar ul li a{
  margin-right: 3%;text-decoration: none;color: white;
}
.navbar a:hover {
  color: black; background: yellow; width: 24%;border-radius: 30px;
}
.sidebar {
  margin-top: 0%;
  margin: auto;
}
section {
  background: #4e5d69;padding: 0.7%;margin: 0 5px; margin-bottom: 5px;color: white;
}
footer {
  background: rgba(70, 98, 180, 0.96);
  padding: 5px;margin:0 5px;
  font-size: 20px;
  display: flex;flex-direction: row;
}
footer img {
  width: 60px;
  height: 60px;
  padding-left:300px;
  margin-top: 10px;
  display: flex;flex-direction: row;
}
.block p {
  padding-left: 300px;
}
