body {
background: indigo;
  font-size: 25px;font-style: normal;margin: 0;padding: 0;
}
h1,h2,h3,h4,h5,h6,p,ul:{
  margin: 0; padding: 0;
}
header{
 text-align: center;
  padding: 1%;
  margin: 1%;
background: red;

}
header h2{
  font-size: 40px;


}
.navbar {
   background-color: grey;
   position: fixed;
   width: 100%;padding: 0.1%;

}
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 90px;
  font-size: 30px;
  text-decoration: none;
}

.navbar a:hover{
  color: black; background: yellow;
}
